* {
	padding:0;
	margin:0;
}
body {
	color: #333;
	font: 2vw Sans-Serif;
	background: #eee;
}
h1 {
	font-size: 3.8vw;
	text-align: center;
	color: #fff;
	background-color: #2080ff;
	padding: 2vw 0 1.2vw 0;
	margin: 0;
}
h2 {
	font-size: 1.6vw;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 0 0 1.2vw 0;
	background-color: #a58aa1;
}

table {
	background-color: #F0F0F0;
	border-collapse: collapse;
	width: 100%;
	margin: 1.5vw 0;
}
th {
	background-color: #5e02fee8;
	color: #FFF;
	cursor: pointer;
	padding: .5vw 1vw;
}
td, th {
	text-align: left;
}
#th1, #td1 {
 width: 25%;
}
#th2, #td2 {
width: 48%;
}
#th3, #td3 {
width: 12%;
}
#th4, #td4 {
width: 15%;
}
a {
	text-decoration: none;
}
td a {
	color: #663300;
	display: block;
	padding: .5vw 1vw;
}
tr:nth-of-type(odd) {
	background-color: #E0E0E0;
}
tr:hover td {
	background-color:#CACACA;
}
tr:hover td a {
	color: #000;
}
